html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
  -webkit-font-smoothing: antialiased;
  font: inherit;
  vertical-align: baseline; }

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after {
  content: '';
  content: none; }

q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

@font-face {
  font-family: 'Lucida Console';
  src: local("Lucida Console"), local("LucidaConsole"), url("/files/fonts/hinted-LucidaConsole.woff2") format("woff2"), url("/files/fonts/hinted-LucidaConsole.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

/* $consoleColor: #2a324f; */
/* $consoleColor: #172024; */
html,
body {
  height: 100%;
  max-height: 100%;
  font-family: sans-serif, arial, verdana; }

body {
  display: flex;
  flex-direction: row;
  align-items: stretch; }

#all {
  width: 100%;
  padding-top: 3.5rem;
  display: flex;
  justify-content: space-between;
  align-self: stretch;
  background: #f4f4f4; }
  #all > * {
    padding: 0rem;
    overflow: auto; }

header {
  font-size: 1.5rem;
  line-height: 1.5rem;
  padding: 1rem 1rem 1rem;
  font-weight: bold;
  color: #fff;
  width: 100%;
  position: absolute;
  background-color: #52465c;
  background-color: #495258;
  background-image: url("/files/img/noise.png");
  background-size: 50px 50px;
  height: 3.5rem;
  vertical-align: baseline;
  box-shadow: -5px 0px 8px rgba(0, 0, 0, 0.4);
  text-shadow: 0 -0.8px 0 rgba(0, 0, 0, 0.2);
  z-index: 20;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box; }
  header > span {
    vertical-align: text-top;
    font-size: 1.6rem;
    color: #f4e0a4;
    margin-left: 0.2rem; }
    header > span:first-child {
      background: transparent url("/files/img/diagram.svg") no-repeat;
      color: #dcb6ff;
      width: 1.6rem;
      height: 1.6rem;
      line-height: 1rem;
      display: inline-block; }

#list {
  width: 25%;
  min-width: 16rem;
  position: relative;
  box-shadow: 4px 0px 8px rgba(0, 0, 0, 0.2);
  z-index: 9;
  background: #ccc;
  background: linear-gradient(#fff, #ccc);
  line-height: normal; }
  #list > li {
    display: block;
    border-top: 1px solid rgba(50, 50, 50, 0.1);
    position: relative;
    color: #333;
    background: #fff;
    cursor: pointer; }
    #list > li:nth-child(1), #list > li.active + li {
      border-color: transparent !important; }
    #list > li:last-child {
      border-bottom: 1px solid rgba(50, 50, 50, 0.1); }
    #list > li i {
      font-style: normal;
      opacity: 0.4; }
    #list > li > a {
      display: flex;
      padding: 1rem 1.5rem;
      justify-content: space-between;
      border: none;
      outline-style: none;
      text-decoration: none;
      color: #333; }
      #list > li > a > span {
        width: 2rem;
        align-self: stretch; }
        #list > li > a > span:nth-child(1) {
          color: transparent; }
        #list > li > a > span:nth-child(1):before {
          content: " ";
          position: absolute;
          display: block;
          left: 1.5rem;
          background: #F0C500;
          width: 0.8em;
          height: 0.8em;
          border-radius: 0.8em;
          margin-top: 0.15em; }
        #list > li > a > span:nth-child(2) {
          width: 100%; }
    #list > li.red > a > span:nth-child(1):before {
      background: #F08273; }
    #list > li.grey > a > span {
      color: #999999; }
      #list > li.grey > a > span:nth-child(1):before {
        background: #CCCCCC; }
    #list > li.green > a > span:nth-child(1):before {
      background: #73C572; }
    #list > li:hover {
      color: #111;
      background: #e6e6e6;
      border-color: #e6e6e6; }
      #list > li:hover + li {
        border-color: #e6e6e6; }
    #list > li.active {
      background: #d8b100;
      border-color: #d8b100 !important; }
      #list > li.active.red {
        background: #d87568;
        border-color: #d87568 !important; }
      #list > li.active.grey {
        background: #b8b8b8;
        border-color: #b8b8b8 !important;
        color: #fff; }
      #list > li.active.green {
        background: #68b167;
        border-color: #68b167 !important; }
      #list > li.active > a > span {
        color: #fff;
        text-shadow: 0 -0.6px 0 rgba(0, 0, 0, 0.2); }
        #list > li.active > a > span:nth-child(1):before {
          background: #ffffff9d; }
  #list::-webkit-scrollbar {
    width: 0.5rem;
    height: 0.5rem; }
  #list::-webkit-scrollbar-track {
    border-radius: 0; }
  #list::-webkit-scrollbar-thumb {
    border-radius: 1rem;
    background: rgba(0, 0, 0, 0.4); }
  #list::-webkit-scrollbar-thumb:window-inactive {
    background: rgba(0, 0, 0, 0.4); }

#console {
  width: 75%;
  color: #ffffff;
  background: #4e2a4f;
  background-image: url("/files/img/noise.png"), radial-gradient(circle at center top, #5a305b, transparent), linear-gradient(#4e2a4f, #331734);
  background-size: 50px 50px, auto auto, auto auto;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  line-height: 1.5em;
  font-family: "Lucida Console";
  font-size: 0.82rem; }
  #console > li {
    padding: 0rem 1rem; }
    #console > li.header {
      color: #ffd373;
      background-color: rgba(0, 0, 0, 0.2);
      border-top: 1px solid rgba(0, 0, 0, 0.1);
      border-bottom: 1px solid rgba(180, 180, 255, 0.1);
      padding: 1rem 1rem;
      margin: 0.7rem 0; }
    #console > li.error {
      color: #ff997a; }
    #console > li.info {
      color: #7AABFE; }
    #console > li > a {
      color: rgba(245, 249, 255, 0.6);
      text-decoration: none; }
      #console > li > a:hover {
        color: #eee;
        text-decoration: underline; }
  #console::-webkit-scrollbar {
    width: 0.5rem;
    height: 0.5rem; }
  #console::-webkit-scrollbar-track {
    border-radius: 0; }
  #console::-webkit-scrollbar-thumb {
    border-radius: 1rem;
    background: #ffffff40; }
  #console::-webkit-scrollbar-thumb:window-inactive {
    background: #ffffff40; }

#actions {
  background-color: #394260;
  background: url("/files/img/noise.png"), linear-gradient(#69426a, #5a375b);
  background-size: 50px 50px, auto auto;
  color: #333;
  box-shadow: 4px 0px 8px rgba(0, 0, 0, 0.2);
  z-index: 8;
  width: 3.7rem;
  min-width: 3.7rem;
  overflow: hidden; }
  #actions > li {
    background-color: #f7f7f7;
    width: 3rem;
    max-width: 3rem;
    height: 2.5rem;
    padding: 0.5rem;
    border-bottom: 1px solid rgba(255, 255, 255, 0.5);
    background-size: 2rem;
    background-repeat: no-repeat;
    background-position: 1rem 0.8rem; }
    #actions > li.start {
      -webkit-mask: url("/files/img/start.svg") no-repeat 50% 50%;
      mask: url("/files/img/start.svg") no-repeat 50% 50%;
      background: #73C572; }
    #actions > li.stop {
      -webkit-mask: url("/files/img/stop.svg") no-repeat 50% 50%;
      mask: url("/files/img/stop.svg") no-repeat 50% 50%;
      background: #F08273; }
    #actions > li.restart {
      -webkit-mask: url("/files/img/restart.svg") no-repeat 50% 50%;
      mask: url("/files/img/restart.svg") no-repeat 50% 50%;
      background: #F0C500; }
    #actions > li.save {
      -webkit-mask: url("/files/img/save.svg") no-repeat 50% 50%;
      mask: url("/files/img/save.svg") no-repeat 50% 50%;
      background: #ccf; }
    #actions > li:hover {
      color: #000;
      background-color: #e6e6e6;
      border-bottom: 1px solid #ddd;
      cursor: pointer; }
