

#console {
    width: 75%;
    background: $consoleColor;
    background-image: url("/files/img/noise.png"), linear-gradient($consoleColor, saturate(darken($consoleColor, 9%), 8%));
    background-size: 50px 50px, auto auto;
    box-shadow: 0 1px 1px rgba(0, 0, 0, .1);
    display: flex;
    flex-direction: column;

    &>ul {
        width: 100%;
        color: #ffffff;
        background: transparent;
        line-height: 1.5em;
        font-family: "Lucida Console";
        font-size: 0.82rem;
        box-shadow: none;
        padding-top: 1.5rem;
        padding-bottom: 1.5rem;

        &>li {
            word-wrap: break-word;
            padding: 0.3rem 1.3rem;
            overflow-wrap: normal;
            word-break: keep-all;
            line-break: strict;
            -webkit-hyphens: none;
            -ms-hyphens: none;
            hyphens: none;
            white-space: nowrap;
            text-overflow: ellipsis;
            overflow: hidden;

            &:nth-child(odd) {
                background: rgba(0, 0, 0, 0.1);
            }

            &.opened {
                white-space: normal;
                word-wrap: break-word;
                word-break: break-all;
                overflow: auto;
                background-color: rgba(0, 0, 0, 0.3);
                padding: 1rem 1.3rem;
                border-top: 1px dashed rgba(255, 255, 255, 0.3);
                border-bottom: 1px dashed rgba(255, 255, 255, 0.3);
            }

            &>a {
                cursor: default;
                border-radius: 3px;
                color: #fff;
                text-decoration: none;
                padding: 0.2rem 0.3rem;
                font-style: italic;

                &:hover {
                    color: #eee;
                    text-decoration: underline;
                }
            }

            &.header {
                white-space: normal;
                color: rgb(255, 211, 115);
                &>a {
                    color: rgb(255, 211, 115);
                }
                background-color: rgba(0, 0, 0, 0.2);
                border-top: 1px solid rgba(0, 0, 0, 0.1);
                &+.header {
                    border-top: 0;
                }
            }
            &.error {
                color: rgb(255, 159, 147);
                &>a {
                    color: rgb(255, 212, 212);
                }
            }

            &.info {
                color: rgb(150, 202, 250);
                &>a {
                    color: rgb(221, 234, 255);
                }
            }
        }
    }
    &::-webkit-scrollbar {
        width: 0.5rem;
        height: 0.5rem;
    }

    &::-webkit-scrollbar-track {
        border-radius: 0;
    }

    &::-webkit-scrollbar-thumb {
        border-radius: 1rem;
        background: #ffffff40;
    }

    &::-webkit-scrollbar-thumb:window-inactive {
        background: #ffffff40;
    }
}


#cntnr{
    display:none;
    position:fixed;
    border: none;
    background:rgba(220,220,220,0.95);
    box-shadow: 0 0 1px rgba(0,0,0,0.1), 0 0 10px rgba(0,0,0,0.4);
    border-radius: 4px;
    padding: 0;
    cursor: default;
    ul{
        list-style:none;
        margin:0px;
        margin: 0;
        color: #444444;
        li{
            padding: 0.4rem 3rem 0.4rem 1rem;
            &:hover{
                color: white;
                background:#5591c9;
            }
            &:first-child {
                border-radius: 3px 3px 0 0;
            }
            &:last-child {
                border-radius: 0 0 3px 3px;
            }
            &.hr {
                background: #cccccc !important;
                height: 1px;
                padding: 0;
            }
            cursor: default;
            b {
                font-weight: bold;
            }
        }
    }
}
