$red: #F08273;
$yellow: #F0C500;
$green: #73C572;
$grey: #CCCCCC;
$hover: #e6e6e6;
// $consoleColor: #2a324f;
// $consoleColor: #3d3042;
// $consoleColor: #542e55;
// $consoleColor: #0f213b;
$consoleColor: rgb(47, 52, 75);

html,
body {
    height: 100%;
    max-height: 100%;
	font-family: sans-serif, arial, verdana;
}

body {
    display: flex;
    flex-direction: row;
    align-items: stretch;
}

#all {
    width: 100%;
    padding-top: 3.5rem;
    display: flex;
    justify-content: space-between;
    align-self: stretch;
    background: #f4f4f4;
    &>* {
        padding: 0rem;
        overflow: auto;
    }
}
