
#list {
    width: 25%;
    min-width: 16rem;
    position: relative;
    box-shadow: 4px 0px 8px rgba(0, 0, 0, 0.2);
    z-index: 9;
    background: #ccc;
	background: linear-gradient(#fff, #ccc);
	line-height: normal;
	
	&>li {
		display: block;
		border-top: 1px solid rgba(50, 50, 50, 0.1);
		position: relative;
		color: #333;
		background: #fff;
		cursor: pointer;
		
		&:nth-child(1),	&.active+li {
			border-color: transparent !important;
		}
		&:last-child {
			border-bottom: 1px solid rgba(50, 50, 50, 0.1);
		}
		
		i {
			font-style: normal;
			opacity: 0.4;
		}
		
		&>a {
			display: flex;
			padding: 1rem 1.5rem;
			justify-content: space-between;
			border: none;
			outline-style: none;
			text-decoration: none;
			color: #333;

			&>span {
				width: 2rem;
				align-self: stretch;

				&:nth-child(1) {
					color: transparent;
				}
				&:nth-child(1):before {
					content: " ";
					position: absolute;
					display: block;
					left: 1.5rem;
					background: $yellow;
					width: 0.8em;
					height: 0.8em;
					border-radius: 0.8em;
					margin-top: 0.15em;
				}
				&:nth-child(2) {
					width: 100%;
				}
			}
		}
		&.red>a>span:nth-child(1):before {
			background: $red;
		}
		&.grey>a>span {
			color: #999999;
			&:nth-child(1):before {
				background: $grey;
			}
		}
		&.green>a>span:nth-child(1):before {
			background: $green;
		}

		&:hover {
			color: #111;
			background: $hover;
			border-color: $hover;
			
			&+li {
				border-color: $hover;
			}
		}

		&.active {
			background: $yellow*0.9;
			border-color: $yellow*0.9 !important;
			
			&.red {
				background: $red*0.9;
				border-color: $red*0.9 !important;
			}
			&.grey {
				background: $grey*0.9;
				border-color: $grey*0.9 !important;
				color: #fff;
			}
			&.green {
				background: $green*0.9;
				border-color: $green*0.9 !important;
			}

			&>a>span {
				color: #fff;
				text-shadow: 0 -0.6px 0 rgba(0, 0, 0, 0.2);

				&:nth-child(1):before {
					background: #ffffff9d;
				}
			}
		}
	}

	&::-webkit-scrollbar {
		width: 0.5rem;
		height: 0.5rem;
	}
	
	&::-webkit-scrollbar-track {
		border-radius: 0;
	}
	
	&::-webkit-scrollbar-thumb {
		border-radius: 1rem;
		background: rgba(0, 0, 0, 0.4);
	}
	
	&::-webkit-scrollbar-thumb:window-inactive {
		background: rgba(0, 0, 0, 0.4);
	}
}

















